
 .format-topics{
    -webkit-user-select: none; /* Disable text selection for WebKit browsers */
    -moz-user-select: none;    /* Disable text selection for Firefox */
    -ms-user-select: none;     /* Disable text selection for Internet Explorer */
    user-select: none;         /* Disable text selection for modern browsers */
}


/*

How to Use:
Insert into Your Website or Moodle Theme:

Log in as an admin.
Navigate to Site administration > Appearance > Themes > [Theme's Settings] > Advanced Settings.
Add this CSS in the Raw SCSS section.
Save and Clear Cache:

Save the changes.
Purge Moodle’s cache via Site administration > Development > Purge all caches.

*/
